@model string
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Why Sec -->
<section class="why_sec" id="counter">
    <div class="container">
        <h2 class="section_title">Why us? @Model </h2>
        <p> Lumbini Engineering College (Lumbini Engineering Management and Science College) is one of Nepal's best colleges because The Pokhara University awarded appreciation for its contribution in the engineering education following university's rules and regulation in 2073 and Ministry of Education. </p>
        <div class="inner">
            <div class="row space-2">
                <div class="col-md-3 col-sm-6">
                    <div class="count_block">
                        <h3>
                            <strong>
                                <span class="counter counter-value" data-count="23">0</span>+
                            </strong>years of excellency
                        </h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="count_block">
                        <h3>
                            <strong>
                                <span class="counter counter-value" data-count="100">0</span>+
                            </strong>Professional staffs
                        </h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="count_block">
                        <h3>
                            <strong>
                                <span class="counter counter-value" data-count="1075">0</span>+
                            </strong>Students enrolled
                        </h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="count_block">
                        <h3>
                            <strong>
                                <span class="counter counter-value" data-count="15">0</span>+
                            </strong>Awards Received
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
